In [ ]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import math


# Read Purchasing File and store into Pandas data frame
quakeData = pd.read_csv("all features.csv")
citygeos = pd.read_csv("city geos.csv")

In [ ]:
quakeData.head()

In [38]:
len(quakeData)

80386

In [26]:
math.pi

3.141592653589793

In [39]:
quakeData.head()

,index,time,latitude,longitude,depth,mag,ClosestCity,category,lastMonth,POR,...,Mag45,Mag50,Mag55,Mag60,Mag65,Mag70,Mag75,Mag80,Mag85,Mag90
0,0,1975-12-31 02:53:00.00,34.279000,-116.337000,2.330,2.70,Twenty Nine Palms,2.5,1975-12-01 02:53:00.00,0.014476,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1975-12-30 23:37:00.00,36.905667,-121.637167,-0.155,2.67,Salinas,2.5,1975-11-30 23:37:00.00,0.020145,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,1975-12-30 23:04:00.00,36.838667,-121.569833,4.774,2.67,Salinas,2.5,1975-11-30 23:04:00.00,0.020145,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,1975-12-30 18:10:00.00,35.781000,-121.421000,11.895,3.15,King City NV,3.0,1975-11-30 18:10:00.00,0.060606,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1975-12-29 15:07:00.00,36.816333,-121.138833,6.478,3.50,Salinas,3.5,1975-11-29 15:07:00.00,0.171233,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
# Finding Closest City
latQuake = 36.905667
lonQuake = -121.637167
distCompare = 100000000
for i in range(0,len(citygeos)):
    latCity = citygeos.iloc[i,1]
    lonCity = citygeos.iloc[i,2]
    x = latCity - latQuake
    y = (lonCity - lonQuake) * math.cos(latQuake * math.pi/180)
    distance = 110.25 * (x**2 +y**2)**0.5
    if distance < distCompare:
        Geo = citygeos.iloc[i,0]
        distCompare = distance
print(Geo)

Salinas

In [41]:
# Inserting columns in table with Closest City
DistCompare = 100000000
for i in range(0,len(citygeos)):
    latCity = citygeos.iloc[i,1]
    lonCity = citygeos.iloc[i,2]
    for j in range(0,len(quakeData)):
        latQuake = quakeData.iloc[j,2]
        lonQuake = quakeData.iloc[j,3]
        x = latCity - latQuake
        y = (lonCity - lonQuake) * math.cos(latQuake * math.pi/180)
        Distance = 110.25 * (x**2 +y**2)**0.5
        if Distance < DistCompare:
            Geo = citygeos.iloc[i,0]